
body {
  background-color: black;
  color: lightgrey;
}

progress {
  width: 100%;
}

table {
  background-color: black;
  color: lightgrey;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-bottom: 1px solid grey;
}

th {
  padding-top: 2px;
  padding-bottom: 2px;
}

thead th {
  text-align: center;
  background-color: darkgreen;
  border-left: 1px solid grey;
}

/* tbody th {
  text-align: left;
}

tbody td {
  text-align: right;
} */

tr:hover {
  background-color: darkgrey;
  color: black;
}

/* tr:nth-child(4n-1), tr:nth-child(4n) {
  background-color: darkgrey;
} */

input, textarea, select {
  background-color: black;
  color: lightgrey;
  width: 100%;
}
